# Default to CUDA 12 as it is the standard for TRT 10.13
tensorrt-cu12==10.13.3.9
tensorrt-cu12-libs==10.13.3.9
tensorrt-cu12-bindings==10.13.3.9
einops
colored
polygraphy
cuda-python
requests
tqdm